* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Eudoxus Sans";
}

dl,
ol,
ul {
  margin-bottom: 0;
}

*:focus {
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:checked,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px rgba(255, 0, 0, 0) inset !important;
}

body {
  background-color: #000000;
}

/* Navbar */

.navbar {
  padding: 25px 0px;
  height: 50px;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  display: flex;
  gap: 60px;
  justify-content: space-between;
  align-items: center;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand img {
  height: 50px;
  width: auto;
}

.nav-links {
  gap: 50px;
  margin-left: 200px;
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links li a {
  font-family: "Eudoxus Sans";
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.3s ease-in-out;
}

.nav-links li a:hover {
  color: #f1c40f;
}

.navbar-brand img {
  top: -45px;
  position: absolute;
  height: 180px;
  width: 180px;
}

/* Hero Section */

.hero-section {
  width: 100%;
  height: 100vh;
  background-color: black;
  position: relative;
}

.hero-content {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  z-index: 50;
}

.hero-content div h2 {
  width: 800px;
}

.hero-content div h2 {
  font-style: normal;
  font-weight: 700;
  font-size: 3rem;
  line-height: 60px;
  color: #ffffff;
  margin-right: 45px;
}

.carousel-indicators li {
  width: 11px;
  height: 11px;
  border-radius: 5.5px;
  -webkit-border-radius: 5.5px;
  -moz-border-radius: 5.5px;
  -ms-border-radius: 5.5px;
  -o-border-radius: 5.5px;
}

.carousel-indicators {
  left: auto;
  margin-right: 5%;
  bottom: 5%;
}

.carousel-item img {
  height: 100vh;
  object-fit: cover;
}

/* form */



.green-contact-form {
  width: 400px;
  margin: 80px auto 0px auto;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.8);
}

.title-form {
  max-width: 550px;
  font-size: 30px;
  line-height: 38px;
  text-align: center;
  color: #ffffff;
}
#btn {
  width: 100%;
}


.form-check {
  margin-left: 1.25rem;
}

.form-check-label {
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  color: #7b7b7b;
}

.form-check-input {
  position: static;
}

.form-control,
.form-control:focus,
.form-control:active {
  color: #7b7b7b;
  border: 1px solid #7b7b7b;
  background-color: transparent;
}

.form-group {
  margin-bottom: 35px;
}

.form-group:nth-child(3) {
  margin-bottom: 20px;
}

.form-group:nth-child(5) {
  margin-top: 20px;
}

form #btn {
  font-weight: 700;
  font-size: 11px;
}

.what-we-offer {
  width: 100%;
  background-color: black;
  height: 100vh;
}

.what-we-offer h3 {
  padding: 20px;
  font-family: "Eudoxus Sans";
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  letter-spacing: 0.12em;
  color: #ffffff;
}

.what-we-offer h3:after {
  margin: 15px auto 0 auto;
  content: "";
  display: block;
  position: relative;
  width: 140px;
  background-color: #9f997a;
  height: 2px;
}

.what-we-offer .parent {
  height: calc(100% - 110px);
  display: flex;
  gap: 80px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.what-we-offer .row {
  display: flex;
  gap: 50px;
  align-items: center;
}

.what-we-offer .row img {
  width: 280px;
  height: 280px;
}

.what-we-offer .text {
  display: flex;
  flex-direction: column;
}

.what-we-offer .text p {
  width: 400px;
  font-family: "Eudoxus Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: 0.12em;
  color: #ffffff;
}

.what-we-offer .text button {
  width: 202px;
  height: 45px;
  padding: 10px 20px;
  text-align: start;
  background: #9f997a;
  border-radius: 6px;
  color: black;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  -webkit-box-shadow: 7px 7px 0px -3px rgba(159,153,122,0.61);
  -moz-box-shadow: 7px 7px 0px -3px rgba(159,153,122,0.61);
  box-shadow: 7px 7px 0px -3px rgba(159,153,122,0.61);

}

.what-we-offer .parent h4 {
  font-size: 30px;
  line-height: 38px;
  letter-spacing: 0.12em;
  color: #ffffff;
}

.what-we-offer .parent h4:after {
  content: " ";
  margin-top: 5px;
  margin-bottom: 20px;
  display: block;
  position: relative;
  width: 80px;
  height: 2px;
  background-color: #9f997a;
}

/* Why Alagna Home */

.why-alagana-home {
  width: 100%;
  background-color: #131313;
}

.why-alagana-home h3 {
  padding: 20px;
  font-family: "Eudoxus Sans";
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  letter-spacing: 0.12em;
  color: #ffffff;
}

.why-alagana-home h3:after {
  margin: 15px auto 0 auto;
  content: "";
  display: block;
  position: relative;
  width: 140px;
  background-color: #9f997a;
  height: 2px;
}

.alagana-item {
  width: 340px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.alagana-item img {
  width: 96px;
  height: 96px;
}

.alagana-item .side-title {
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.12em;
  color: #ffffff;
}

.alagana-item .side-title:after {
  top: 10px;
  width: 98px;
  height: 3px;
  position: relative;
  content: " ";
  display: block;
  background-color: #9f997a;
}

.border-sp {
  width: 100%;
  display: flex;
  justify-content: center;
}

.border-sp span {
  border: 1px solid #3d3d3d;
  width: 90%;
}

.design-process .sub-title {
  font-size: 40px;
  line-height: 50px;
  letter-spacing: 0.12em;
  color: #9f997a;
}

/* Stepper */

.md-stepper-horizontal {
  display: table;
  font-size: 16px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 0 3px 8px -6px rgba(0, 0, 0, 0.5);
}
.md-stepper-horizontal .md-step {
  display: table-cell;
  position: relative;
  padding: 24px;
}

.md-stepper-horizontal .md-step:hover,
.md-stepper-horizontal .md-step:active {
  background-color: rgba(0, 0, 0, 0.04);
}
.md-stepper-horizontal .md-step:active {
  border-radius: 15% / 75%;
}
.md-stepper-horizontal .md-step:first-child:active {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.md-stepper-horizontal .md-step:last-child:active {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.md-stepper-horizontal .md-step:hover .md-step-circle {
  background-color: #757575;
}
.md-stepper-horizontal .md-step:first-child .md-step-bar-left,
.md-stepper-horizontal .md-step:last-child .md-step-bar-right {
  display: none;
}
.md-stepper-horizontal .md-step .md-step-circle {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  background-color: #999999;
  border-radius: 50%;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}
.md-stepper-horizontal.green .md-step.active .md-step-circle {
  background-color: #00ae4d;
}
.md-stepper-horizontal.orange .md-step.active .md-step-circle {
  background-color: #f96302;
}
.md-stepper-horizontal .md-step.active .md-step-circle {
  background-color: rgb(33, 150, 243);
}
.md-stepper-horizontal .md-step.done .md-step-circle:before {
  font-family: "FontAwesome";
  font-weight: 100;
  content: "\f00c";
}
.md-stepper-horizontal .md-step.done .md-step-circle *,
.md-stepper-horizontal .md-step.editable .md-step-circle * {
  display: none;
}
.md-stepper-horizontal .md-step.editable .md-step-circle {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.md-stepper-horizontal .md-step.editable .md-step-circle:before {
  font-family: "FontAwesome";
  font-weight: 100;
  content: "\f040";
}
.md-stepper-horizontal .md-step .md-step-title {
  margin-top: 16px;
  font-size: 16px;
  font-weight: 600;
}
.md-stepper-horizontal .md-step .md-step-title,
.md-stepper-horizontal .md-step .md-step-optional {
  text-align: center;
  color: #9f997a;
}
.md-stepper-horizontal .md-step.active .md-step-title {
  font-weight: 600;
  color: #9f997a;
}
.md-stepper-horizontal .md-step.active.done .md-step-title,
.md-stepper-horizontal .md-step.active.editable .md-step-title {
  font-weight: 600;
}
.md-stepper-horizontal .md-step .md-step-optional {
  font-size: 12px;
}
.md-stepper-horizontal .md-step.active .md-step-optional {
  color: rgba(0, 0, 0, 0.54);
}
.md-stepper-horizontal .md-step .md-step-bar-left,
.md-stepper-horizontal .md-step .md-step-bar-right {
  position: absolute;
  top: 36px;
  height: 1px;
  border-top: 1px solid #9f997a;
}
.md-stepper-horizontal .md-step .md-step-bar-right {
  right: 0;
  left: 50%;
  margin-left: 20px;
}
.md-stepper-horizontal .md-step .md-step-bar-left {
  left: 0;
  right: 50%;
  margin-right: 20px;
}

.carousel-item {
  object-fit: contain;
}

.showcase .carousel-control-next,
.carousel-control-prev {
  width: auto;
  opacity: 1;
  width: 44px;
  height: 44px;
  border-radius: 22px;
  -webkit-border-radius: 22px;
  -moz-border-radius: 22px;
  -ms-border-radius: 22px;
  -o-border-radius: 22px;
}

.carousel-control-next:focus,
.carousel-control-next:hover,
.carousel-control-prev:focus,
.carousel-control-prev:hover {
  opacity: 1;
}

.carousel-control-next {
  right: -20px;
}

.carousel-control-prev {
  left: -20px;
}

.showcase .showcase-text h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  letter-spacing: 0.12em;
  text-transform: capitalize;
  color: #ffffff;
}

.showcase .showcase-text h3:after {
  content: " ";
  margin-top: 15px;
  display: block;
  position: relative;
  width: 200px;
  height: 2px;
  background-color: #9f997a;
}

.showcase .showcase-text button {
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.12em;
  text-transform: capitalize;
  color: #ffffff;
}

.showcase .carousel-control-btn a {
  display: flex;
  background: #9f997a;
  margin: auto;
  align-items: center;
  justify-content: center;
}

.showcase .carousel-control-btn a svg {
  width: 60%;
  height: 60%;
}

.cell {
  width: 33%;
  height: 350px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.cell img {
  width: 100%;
  height: 350px;
  object-fit: fill;
}

.flickity-button {
  background: #9f997a !important;
  color: white !important;
}

.flickity-prev-next-button.previous {
  left: -25px !important;
}

.flickity-prev-next-button.next {
  right: -25px !important;
}

.flickity-button:active,
.flickity-button:focus,
.flickity-button:hover {
  opacity: 1 !important;
}

/* Our Services Section */
.our-services {
  width: 100%;
}

.our-services-items-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.alagana-container {
  align-items: center;
}

@media screen and (max-width: 768px) {
  .alagana-container {
    gap: 50px;
  }
  .our-services-items-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 481px) {
  .our-services-items-container {
    grid-template-columns: 1fr;
  }
}

.our-services h3 {
  padding: 20px;
  font-family: "Eudoxus Sans";
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  letter-spacing: 0.12em;
  color: #ffffff;
}

.our-services h3:after {
  margin: 15px auto 0 auto;
  content: "";
  display: block;
  position: relative;
  width: 140px;
  background-color: #9f997a;
  height: 2px;
}

.our-services .sub-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  letter-spacing: 0.12em;
  text-transform: capitalize;
  text-align: center;
  color: #ffffff;
}

.our-services-item .img-container {
  width: 200px;
  height: 200px;
  border: 2px solid #9f997a;
  border-radius: 6px;
}

.our-services-item .image-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: 0.12em;
  text-align: center;
  color: #ffffff;
}

/* Kitchen and Wardrobe */

.build-kitchen-wardrobe {
  width: 100%;
}

.build-kitchen-wardrobe h3 {
  padding: 20px;
  font-family: "Eudoxus Sans";
  text-align: center;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  letter-spacing: 0.12em;
  color: #ffffff;
}

.build-kitchen-wardrobe h3:after {
  margin: 15px auto 0 auto;
  content: "";
  display: block;
  position: relative;
  width: 140px;
  background-color: #9f997a;
  height: 2px;
}

.kw-container {
  gap: 20px;
}

.kw-item img {
  width: 500px;
  max-width: 680px;
  aspect-ratio: 1 1;
  object-fit: contain;
}

.btn {
  width: max-content;
  background: #9f997a;
  border-radius: 6px;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  letter-spacing: 0.12em;
  text-transform: capitalize;
  color: #ffffff;
  -webkit-box-shadow: 9px 9px 0px -1px rgba(114, 109, 84, 1);
  -moz-box-shadow: 9px 9px 0px -1px rgba(114, 109, 84, 1);
  box-shadow: 5px 5px 0px -1px rgba(114, 109, 84, 1);
}

.all-we-know-content {
  max-width: 700px;
}

.all-we-know-content h4 {
  font-weight: 800;
  font-size: 36px;
  line-height: 45px;
  letter-spacing: 0.12em;
  color: #ffffff;
  text-align: start;
}

.all-we-know-content p {
  font-weight: 500;
  font-size: 28px;
  line-height: 35px;
  letter-spacing: 0.12em;
  color: #b7b7b7;
}

/* FAQ Section */

.faq-section {
  background-color: black;
}

.faq-section header {
  margin-bottom: 70px;
}

.faq-section header > p {
  font-size: 22px;
  color: #aeb9c6;
}

.faq-section h2 {
  font-family: "Eudoxus Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  letter-spacing: 0.12em;
  color: #ffffff;
}

.faq-section details {
  cursor: pointer;
}

.faq-section summary:focus-visible {
  outline: 2px solid orange;
  outline-offset: 8px;
  border-radius: 4px;
}

.faq-section h4 {
  max-width: 1370px;
  font-family: "Eudoxus Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0.12em;

  color: #bcb7b7;
}

.faq-section summary {
  font-size: 20px;
  color: #f4f4f6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.faq-section summary::marker {
  display: none;
  content: "";
}

.faq-section span {
  margin-top: 4px;
  color: #f4f4f6;
}

.faq-section details > p {
  max-width: 1350px;
  margin-bottom: 40px;
  padding-left: 7px;
  font-family: "Eudoxus Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 40px;
  letter-spacing: 0.12em;
  color: #bcb7b7;
}

.faq-section hr {
  color: #313133;
  border: 0.7px solid rgba(159, 153, 122, 0.4);
  height: 0px;
}

.faq-section .underline {
  position: absolute;
  background: #9f997a;
  border-radius: 39px;
  width: 200px;
  height: 3px;
}

.additional-links {
  color: white;
  background-color: #000000;
  gap: 36px;
}
